.product-dashboard-center-panel{

  .product-dashboard-center-panel{
    .top-menu{
      .all-products-info {
        float:left;
        display:inline-block;
      }
      .products-per-page-dropdown{
        float:right;
      }
    }
    .product-container{

    }
  }


  .product-dashboard-bottom-panel{

  }

}
