// shared/productTile //
$product-tile-width: 330px;
$product-tile-height: 275px;
// product-dashboard/index //
$product-container-height: 100px;
// sizes //
$h4size:18px;
$h5size:13px;
$h6size:12px;
